@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Subtitles CSS ===== */
video::cue {
  color: white;
  font-size: 1em;
  font-family: 'Helvetica', sans-serif;
  background-color: transparent;
  text-shadow: #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px,
    #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px;
  -webkit-font-smoothing: antialiased;
  bottom: 50px;
}

/* ===== MD Icons CSS ===== */
.material-icons.md-18 {
  font-size: 1.125em;
}

.material-icons.md-24 {
  font-size: 1.5em;
}

.material-icons.md-26 {
  font-size: 1.625em;
}

.material-icons.md-36 {
  font-size: 2.25em;
}

.material-icons.md-48 {
  font-size: 3em;
}

.material-icons.md-56 {
  font-size: 3.5em;
}

.material-icons.md-64 {
  font-size: 4em;
}

.material-icons.md-72 {
  font-size: 4.5em;
}

.material-icons.md-80 {
  font-size: 5em;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: 5px;
  scrollbar-color: #be123c #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #be123c;
  border-radius: 10px;
}
