@tailwind base;
@tailwind components;
@tailwind utilities;

video::cue {
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-56 {
  font-size: 56px;
}

.material-icons.md-64 {
  font-size: 64px;
}

.material-icons.md-72 {
  font-size: 72px;
}

.material-icons.md-80 {
  font-size: 80px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
