@tailwind base;
@tailwind components;
@tailwind utilities;

video::cue {
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}
