@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Subtitles CSS ===== */
video::cue {
  color: white;
  font-size: 36px;
  font-family: 'Helvetica', sans-serif;
  background-color: transparent;
  text-shadow: #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px,
    #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px;
  -webkit-font-smoothing: antialiased;
}

/* ===== MD Icons CSS ===== */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-26 {
  font-size: 26px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-56 {
  font-size: 56px;
}

.material-icons.md-64 {
  font-size: 64px;
}

.material-icons.md-72 {
  font-size: 72px;
}

.material-icons.md-80 {
  font-size: 80px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: 5px;
  scrollbar-color: #be123c #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #be123c;
  border-radius: 10px;
}
